// Specific CSS for your home-page
.head {
font-family: 'Roboto', sans-serif;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
text-transform: capitalize;
border: none;
outline: none;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
}

.bike-banner {
  font-family: system-ui;
  color:white;
  text-align: center;
  height: 200vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('assets/background-image.jpg');
}
.title
.img{
  width:100%;
  height: 400px;
  background: url("../../assets/images/home/background-image.jpg");
}

.background-image {
  background-image: asset-url("background-image.jpg");
  background-size: cover;
  opacity: 85%;
}

#home-form {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  opacity: 75%;
  }

#h1-home {
  font-size: 60px;
}

#h2-home {
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30 px;
}
