<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>hotBikes🚲</h1>
    <div class="container">
    <div class="center">
    <div class="col-12 col-sm-4">
    </div>
    <h2> Connecting bike owners to bike renters</h2>

      <form>
      <div class="form-group">
        <input type="find your next bike" class="form-control" id="exampleInputBike" placeholder="find your next bike">
      </div>
</body>
</html>
