<div class="show-container">
  <h2><%= @bike.title %></h2>
  <p><%= @bike.price %>€</p>

  <% if @bike.photo.attached? %>
    <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%= link_to "Book this bike!", new_bike_booking_path(@bike) %>
</div>
