.navbar-lewagon {
  justify-content: space-between;
  background: rgb(221, 212, 212);
  height: 100px;
  margin-block-start: 0%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link{
  text-transform: uppercase;
  font-size: 25px;
  color: rgb(16, 16, 16);
  font-family: 'Andale Mono', monospace;
  position: relative;bottom: 3px;
}
