.navbar-lewagon {
  justify-content: space-between;
  background: rgb(232, 224, 224);
  height: 100px;
  margin-block-start: 0%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link{
  text-transform: uppercase;
  text-shadow: 1px 1px ;
  font-size: 25px;
}
