.navbar-lewagon {
  justify-content: space-between;
  background: rgb(232, 224, 224);
  height: 80px;
  margin-block-start: 0%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
